@import "Components.css";
@import "Theme.css";
@import "Error.css";
@import "AST.css";

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.app-header {
    height: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    padding-left: 80px; /* Leave space for macOS traffic lights */
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    background: var(--header-bg);
    border-bottom: 1px solid #333;
}
